body {
  font-family: Arial, sans-serif;
}
#heading-div {
  padding: 5px;
  background: #234e70;
  border-radius: 10px;
  text-align: center;
}
#heading-div2 {
  border-radius: 5px;
  text-align: center;
}
#heading {
  margin: 15px;
  color: #fcf6f5;
  font-size: 50px;
}
#heading2 {
  margin: 15px;
  color: #fcf6f5;
  font-size: 30px;
}
#app {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  background-color: #fcf6f5;
}

#input-section,
#search-section,
#dictionary {
  width: 28%;
  color: #fcf6f5;
  background: #234e70;
  border-radius: 10px;
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #fcf6f5;
  border-radius: 5px;
  color: #fcf6f5;
  font-size: 20px;
}

button {
  padding: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  background-color: #fbf8be;
  color: #234e70;
  border: 1px solid #fcf6f5;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  color: #fbf8be;
  background: #234e70;
}
p,
#wordList {
  font-size: 20px;
}
li {
  padding: 5px;
}
#btnDiv {
  display: flex;
  justify-items: center;
}
/* Responsive Design */
@media only screen and (max-width: 1150px) {
  #app {
    display: block;
    padding-top: 0%;
  }
  #heading {
    color: #fcf6f5;
    font-size: 40px;
  }
  #input-section,
#search-section,
#dictionary {
  width: 90%;
  color: #fcf6f5;
  background: #234e70;
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

}
